{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Sign Out" %}{% endblock %}

{% block inner %}
<h1>{% translate "Sign Out" %}</h1>

<p>{% translate 'Are you sure you want to sign out?' %}</p>

<form method="post" id="logout_form" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-danger" type="submit">{% translate 'Sign Out' %}</button>
</form>


<script>
  document.addEventListener("DOMContentLoaded",  function() {
    document.getElementById("logout_form").addEventListener("submit",  function() {
      localStorage.removeItem('user');
      localStorage.removeItem('username');
      localStorage.removeItem('password');
      localStorage.removeItem('access_token');
      localStorage.removeItem('refresh_token');
    });
  });
  </script>
{% endblock %}
