<div class="mb-3 comment row level-{{ comment.level }}" data-level="{{ comment.level }}" data-comment="{{ comment.id }}">
    <div class="col-1 avatar">{{ comment.user.avatar_name }}</div>
    <div class="col-10 title-row">
        {% if user.is_authenticated and comment.user == user %}
            <div class="d-flex justify-content-between">
                <p class="m-0 p-0 name">{{ comment.user.name }}</p>
                <div class="dropdown" >
                    <img class="ellipse" src="/static/images/ellipsis.svg" id="dropdownMenuButton2" data-bs-toggle="dropdown" >
                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li class="dropdown-item edit">Edit</li>
                        <li class="dropdown-item delete">Delete</li>
                    </ul>
                </div>
            </div>
        {% else %}
            <p class="m-0 p-0 name">{{ comment.user.name }}</p>
        {% endif %}
        <p class="m-0 p-0 text">
            {{ comment.text }}
        </p>
        <div class="d-flex">
            <div>
                <img class="thumbs" src="/static/images/thumbs-up.svg">
                <span class="likes text">{{ comment.like_count }}</span>
            </div>
            <div class="mx-3">
                <img class="thumbs" src="/static/images/thumbs-down.svg">
                <span class="dislikes text">{{ comment.dislike_count }}</span>
            </div>
            {% if user.is_authenticated and comment.level < 2 %}
                <span class="reply">reply</span>
            {% endif %}
        </div>
    </div>
</div>
